{
  "trailingComma": "all",
  "tabWidth": 2,                   
  "singleQuote": true,
  "semi": true,
  "useTabs": true,
  "printWidth": 120,
  "bracketSpacing": true,
  "jsxBracketSameLine": false
}
